<?xml version="1.0" encoding="GBK"?>
<CFX>
	<HEAD>
		<VER>$!head.ver</VER>
		<SRC>$!head.src</SRC>
		<DES>$!head.des</DES>
		<APP>$!head.app</APP>
		<MsgNo>910103</MsgNo>
		<MsgID>$!head.msgID</MsgID>
		<MsgRef>$!head.msgRef</MsgRef>
		<WorkDate>$!head.workDate</WorkDate>
		<EditFlag>$!head.editFlag</EditFlag>
		<Reserve/> 
	</HEAD>
	<MSG>
	#foreach($batch in ${batchList})
	<RETURN>
			<MsgNo>910103</MsgNo>
			<TotalCount>$!batch.tolRecord</TotalCount>
			<Result>$!batch.result</Result>
			<AddWord>$!batch.addWord</AddWord>
			<Information>$!batch.information</Information>
		</RETURN>
	#end
</MSG>
</CFX>
