<?xml version="1.0" encoding="GBK"?>
<CFX>
	<HEAD>
		<VER>$!head.ver</VER>
		<SRC>$!head.src</SRC>
		<DES>$!head.des</DES>
		<APP>$!head.app</APP>
		<MsgNo>$!head.msgNo</MsgNo>
		<MsgID>$!head.msgID</MsgID>
		<MsgRef>$!head.msgRef</MsgRef>
		<WorkDate>$!head.workDate</WorkDate>
		<EditFlag>$!head.editFlag</EditFlag>
		<Reserve/>
	</HEAD>
	<MSG>
	 	#foreach($batch in ${batchList})
		<FTZ210207>
			<BATCH>
				<AccountNo>$!batch.acctId</AccountNo>
				<Currency>$!batch.currencyCd</Currency>
				<Balance>$!batch.dayBalFill</Balance>
				<BalanceCode>$!batch.balanceCd</BalanceCode>
				<SubmitDate>$!batch.declareDt</SubmitDate>
				<TotalCount>$!batch.tolRecord</TotalCount>
				<AccOrgCode>$!batch.belongOrgId</AccOrgCode>
			</BATCH>
			
			<TRANLIST>
				#foreach($tran in ${batch.tranList})
				<TRAN>
					<SeqNo>$!tran.detailSeq</SeqNo>
					<CDFlag>$!tran.outInAcctInd</CDFlag>
					<TranDate>$!tran.acctDt</TranDate>
					<OrgTranDate>$!tran.origTxnDt</OrgTranDate>
					<Amount>$!tran.bal</Amount>
					<TermLength>$!tran.periodLen</TermLength>
					<TermUnit>$!tran.periodUnit</TermUnit>
					<ValueDate>$!tran.intStartDt</ValueDate>
					<ExpireDate>$!tran.matureDt</ExpireDate>
					<YearInterestRates>$!tran.yieldRate</YearInterestRates>
					<TranType>$!tran.txnAttri</TranType>
					<CountryCode>$!tran.countryCd</CountryCode>
					<DistrictCode>$!tran.domechargeAreaCd</DistrictCode>
					
				</TRAN>
				#end
			</TRANLIST>
	
		</FTZ210207>
		#end
	</MSG>
</CFX>
