<?xml version="1.0" encoding="GBK"?>
<CFX>
	<HEAD>
		<VER>$!head.ver</VER>
		<SRC>$!head.src</SRC>
		<DES>$!head.des</DES>
		<APP>$!head.app</APP>
		<MsgNo>$!head.msgNo</MsgNo>
		<MsgID>$!head.msgID</MsgID>
		<MsgRef>$!head.msgRef</MsgRef>
		<WorkDate>$!head.workDate</WorkDate>
		<EditFlag>$!head.editFlag</EditFlag>
		<Reserve/>
	</HEAD>
	<MSG>
		#foreach($batch in ${batchList})
		<FTZ210306>
			<ReportCode>$!batch.reportId</ReportCode>
			<SeqNo>$!batch.declareSeq</SeqNo>
			<SubmitDate>$!batch.declareDt</SubmitDate>
			<AccOrgCode>$!batch.belongOrgId</AccOrgCode>
			<Amount>$!batch.bal</Amount>
			<Currency>$!batch.currencyCd</Currency>
			<OppSwiftCode>$!batch.abroadOppBankId</OppSwiftCode>
			<EntName>$!batch.benefCorpNm</EntName>
			<EntInstitutionCode>$!batch.benefCorpOrgId</EntInstitutionCode>
			<CountryCode>$!batch.benefCountryCd</CountryCode>
			<DistrictCode>$!batch.benefDomeAreaCd</DistrictCode>
			<TransDate>$!batch.bisMatureDt</TransDate>
			<LCExpireDate>$!batch.lcMatureDt</LCExpireDate>
			<TermCondition>$!batch.periodCon</TermCondition>
			<TermLength>$!batch.periodLen</TermLength>
			<TermUnit>$!batch.periodUnit</TermUnit>
		</FTZ210306>
		#end
	</MSG>
</CFX>
