
/* Icons */

.icon-loading32   			{ background-image : url(/resources/icons/icoMedium/loading32.gif) !important; }
.icon-logo   			    { background-image : url(/resources/icons/icoMedium/logo.png) !important; }
.icon-add   			    { background-image : url(/resources/icons/icoMedium/add.png) !important; }
